[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "dotbot-apt"]
	path = dotbot-apt
	url = https://github.com/bryant1410/dotbot-apt
[submodule "dotbot-vscode"]
	path = dotbot-vscode
	url = https://github.com/hujianxin/dotbot-vscode
[submodule "dotbot-git"]
	path = dotbot-git
	url = https://github.com/DrDynamic/dotbot-git.git
[submodule "dotbot-brew"]
	path = dotbot-brew
	url = https://github.com/wren/dotbot-brew.git
